<div class ="header">
    Zone
</div>

<div class="col-md-12" style ="margin-top: 50px;">
  <div fxLayout="row" fxLayoutAlign ="end">
    <button mat-raised-button (click)="openCreate()"><mat-icon style="height:30px;width:30px ;font-size:30px;">library_add</mat-icon >Create</button> 
    </div>
    <table mat-table [dataSource]="zones" class="mat-elevation-z8" style = "margin-top: 5px;">
      
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="ZoneId">
          <th mat-header-cell *matHeaderCellDef> Zone ID </th>
          <td mat-cell *matCellDef="let element"> {{element.zoneID}} </td>
        </ng-container>
      
        <ng-container matColumnDef="CreatedTime">
          <th mat-header-cell *matHeaderCellDef> Created Time </th>
          <td mat-cell *matCellDef="let element">  {{global.FormatDatetimeShow(element.createdTime)}} </td>
        </ng-container>

        <ng-container matColumnDef="UpdatedTime">
          <th mat-header-cell *matHeaderCellDef> Updated Time </th>
          <td mat-cell *matCellDef="let element"> {{global.FormatDatetimeShow(element.updatedTime)}} </td>
        </ng-container>

        <ng-container matColumnDef="Edit">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button (click)="drawZone(element.id)">
               <mat-icon>meeting_room</mat-icon>
            </button>
        </td>
        </ng-container>

        <ng-container matColumnDef="Delete">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button (click)="deleteZone(element.id)">
               <mat-icon>delete</mat-icon>
            </button>
        </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="zoneColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: zoneColumns;"></tr>
      </table>
</div>


<ng-template #form>
  <h2 mat-dialog-title fxLayoutAlign="center">Create</h2>
  <mat-card-content style ='padding:10px'>
    <form>
      <table>
      <tr>
        <td >Name</td>
        <td style=" padding: 10px;">
            <input class="inputField" type="text" name="name"[(ngModel)]="zone.name">
        </td>
        </tr>

        <tr>
          <td >Width</td>
          <td style=" padding: 10px;">
        <input  class="inputField" type="number" name="available"[(ngModel)]="zone.width">
      </td>
      </tr>

      <tr>
        <td >Height</td>
        <td style=" padding: 10px;">
      <input  class="inputField" type="number" name="available"[(ngModel)]="zone.height">
    </td>
    </tr>
        </table>
      </form>

      <div fxLayout="row" fxLayoutAlign ="space-around center">
        <button mat-raised-button (click)="createOrEdit()">Create</button> 
        <button mat-raised-button (click)="clearData()">Clear data</button> 
      </div>
  </mat-card-content> 
</ng-template>
