
<mat-toolbar color="primary" class="example-toolbar">
	<h1 class="example-app-name">UWE Interactive Map System</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav color="primary" #sidenav class="example-sidenav" mode="side" opened="true">
		<mat-nav-list>
            <a href="zone">

			<mat-list-item  class="parent">
                <span class="full-width">Zone</span>
                <i class="fas fa-area-chart" style="font-size:15px; margin-left: 10px;"></i>
			</mat-list-item>
        </a>
        <a href="category">
            <mat-list-item  class="parent">
				<span class="full-width" >Category</span>
				<i class="fas fa-list" style="font-size:15px; margin-left: 10px;"></i>
            </mat-list-item>
        </a>
		
		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>

	<div class="example-sidenav-content">
		<router-outlet></router-outlet>
	</div>

</mat-sidenav-container>
